<div
  class="context-menu"
  [ngStyle]="contextMenuStyle"
  [ngClass]="{ active: contextMenuDetails?.isActive }"
  appClickStopPropagation
>
  <app-style-formatter
    *ngFor="let style of styleFormat"
    [styleItem]="style"
    (closeContextMenu)="contextMenuOff()"
  ></app-style-formatter>

  <div class="divider"></div>

  <app-font-styler
    *ngFor="let font of fontFormat"
    [fontItem]="font"
    (closeContextMenu)="contextMenuOff()"
  ></app-font-styler>

  <div class="divider"></div>

  <div class="item" (click)="activateLinkInput($event)">
    <mat-icon>link</mat-icon>
  </div>
</div>

<app-link-input
  [linkInputDetails]="linkInputDetails"
  (onSubmitLink)="createLink($event)"
></app-link-input>
